$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
// variables for colors
$fondo_black: #2b2d28;
$color-text: #95969b;
$color-title: #ffffff;
$bg-button: #db2a6b;
$bg-icon: #464751;
// variables for fonts
$font-title: Merriweather, sans-serif;
$font-text: Poppins, sans-serif;
// variables for sizes
$size-title: 65px;
$size-text: 24px;
$size-button: 18px;
